@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.hero-section {
  position: relative;
  overflow: hidden;
}
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 10;
}

.custom-pin-icon {
  display: inline-block;
  transform: translate(-50%, -100%);
  pointer-events: none;
}

.leaflet-marker-pane {
  z-index: 650 !important;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(270deg, #fdef42, #00853f);
  background-size: 600% 600%;
  animation: gradientShift 12s ease infinite;
}

.gallery {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
}
.gallery img {
  flex: 0 0 auto;
  scroll-snap-align: start;
  max-height: 300px;
  border-radius: 0.5rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label .lightbox {
  display: none;
}

input[type="checkbox"]:checked + label .lightbox {
  display: flex;
}

.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Cursor hints */
label img {
  cursor: zoom-in;
}
.lightbox img {
  cursor: zoom-out;
  max-width: 90vw;
  max-height: 90vh;
}

.prose p {
  line-height: 1.75;
  margin-bottom: 1em;
}

/* Text animation */
.lava-text {
  background-color: #f4c300;

  background-image: radial-gradient(
      circle at 20% 25%,
      #00853f 15%,
      transparent 16%
    ),
    radial-gradient(circle at 75% 60%, #ce1126 12%, transparent 13%);
  background-size: 300% 300%;
  background-repeat: no-repeat;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: lavaMove 8s ease-in-out infinite alternate,
    flagCycle 9s ease-in-out infinite;
}

@keyframes lavaMove {
  0% {
    background-position: 0% 0%, 100% 100%;
  }
  50% {
    background-position: 50% 100%, 0% 0%;
  }
  100% {
    background-position: 100% 0%, 50% 50%;
  }
}

@keyframes flagCycle {
  0%,
  100% {
    background-color: #f4c300;
  }
  33% {
    background-color: #ce1126;
  }
  66% {
    background-color: #00853f;
  }
}
